<div>
    <shared-header></shared-header>

    <!-- Todo sobre mi -->
    <shared-heading [title]="titleAbout"></shared-heading>

    <p
        class="mt-4 bg-gray-100 dark:bg-stone-900 p-4 rounded-2xl text-justify text-lg md:text-xl leading-relaxed border-l-4 border-green-400 pl-4"
    >
        Soy Viktor, un desarrollador con experiencia en **frontend y backend**.
        Trabajo con **.NET y Laravel** en el desarrollo backend, y en el
        frontend domino **HTML, CSS y JavaScript**. Además, utilizo frameworks
        como **Angular, Tailwind CSS y Bootstrap** para crear interfaces
        modernas y responsivas. Mi enfoque es **combinar creatividad y
        eficiencia** para desarrollar soluciones digitales innovadoras y de alto
        rendimiento.
    </p>

    <shared-heading [title]="titleTech"></shared-heading>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-5 mt-4">
        <div
            *ngFor="let item of tech"
            class="p-5 flex flex-col items-center justify-center text-center bg-gradient-to-br from-gray-800 to-stone-900 text-white rounded-2xl shadow-md transform transition duration-300 hover:scale-110 hover:shadow-green-400/50 w-full"
        >
            <i [class]="item.icon" class="text-4xl text-green-400 mb-2"></i>
            <h3 class="font-bold text-lg">{{ item.tech }}</h3>

            <!-- Barra de dominio -->
            <div class="w-full bg-gray-700 rounded-full h-2.5 mt-3">
                <div
                    class="bg-green-400 h-2.5 rounded-full transition-all duration-500"
                    [ngStyle]="{ width: item.level + '%' }"
                ></div>
            </div>

            <!-- Mostrar porcentaje -->
            <p class="text-sm text-gray-300 mt-1">
                {{ item.level }}% de dominio
            </p>
        </div>
    </div>

    <shared-heading [title]="titleExperience"></shared-heading>
    <div
        class="group mt-8 flex flex-col items-center text-center md:flex-row md:items-center md:text-left md:gap-8 dark:bg-stone-900 bg-gray-100 p-6 rounded-2xl border-l-4 border-transparent hover:border-green-400 pl-6 shadow-lg hover:shadow-xl hover:scale-[1.02] transform transition duration-300"
        *ngFor="let item of experience"
    >
        <!-- Ícono centrado -->
        <i
            class="fa-solid fa-code text-5xl text-green-400 group-hover:text-green-300 transition duration-300 animate-pulse self-center"
        ></i>

        <div class="mt-4 md:mt-0">
            <h3 class="text-2xl font-bold text-gray-900 dark:text-white">
                {{ item.institucion | titlecase }}
            </h3>
            <p class="text-lg font-semibold text-green-500">{{ item.job }}</p>
            <p class="text-lg mt-2 text-gray-500 dark:text-gray-300">
                {{ item.description }}
            </p>
            <p class="text-lg font-bold text-gray-700 dark:text-gray-400">
                {{ item.year }}
            </p>
        </div>
    </div>

    <shared-heading [title]="titleProyects"></shared-heading>
    <div
        class="mt-8 flex flex-col items-center text-center lg:flex-row lg:items-center lg:text-left md:gap-8 dark:bg-stone-900 bg-gray-100 p-6 rounded-2xl shadow-lg border-l-4 border-transparent hover:border-green-400 hover:shadow-xl hover:scale-[1.02] transition-all duration-300"
        *ngFor="let item of proyects"
    >
        <i
            class="fa-solid fa-desktop text-5xl text-green-400 mt-8 md:mt-0 animate-pulse"
        ></i>

        <div class="lg:flex md:gap-6 mt-8 md:mt-0 w-full">
            <div class="mb-8 lg:mb-0 w-full">
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white">
                    {{ item.title | titlecase }}
                </h3>
                <p class="text-lg text-green-500 font-semibold">
                    {{ item.year }}
                </p>
                <p
                    class="text-lg mt-2 text-gray-500 dark:text-gray-300 leading-relaxed"
                >
                    {{ item.description }}
                </p>

                <h3
                    class="font-bold text-xl mt-4 text-gray-900 dark:text-white"
                >
                    <i
                        class="fa-solid fa-screwdriver-wrench mr-2 text-green-500"
                    ></i>
                    Tecnologías:
                </h3>
                <div
                    class="flex justify-center gap-4 lg:justify-start flex-wrap mt-3"
                >
                    <div
                        *ngFor="let tech of item.tech"
                        class="flex items-center bg-green-500 text-white px-3 py-1 rounded-full text-sm shadow-md"
                    >
                        <i [class]="tech.icon" class="text-lg mr-2"></i>
                        <span>{{ tech.language | titlecase }}</span>
                    </div>
                </div>
            </div>

            <div class="relative w-full max-w-xs mx-auto my-auto">
                <img
                    [src]="item.img"
                    class="mt-4 md:mt-0 w-full rounded-2xl shadow-lg object-cover hover:shadow-2xl"
                    style="max-width: 350px"
                    [alt]="item.title"
                />
            </div>
        </div>
    </div>

    <shared-heading [title]="titleUniversity"></shared-heading>

    <div class="mt-8 space-y-6">
        <!-- Sección de Estudios -->
        <div
            class="group flex flex-col items-center text-center md:flex-row md:items-center md:text-left md:gap-12 p-6 bg-gradient-to-br from-gray-800 to-gray-900 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 ease-in-out border-l-4 border-transparent hover:border-green-400"
            *ngFor="let item of studies"
        >
            <!-- Contenedor del ícono centrado -->
            <div
                class="flex w-16 h-16 items-center justify-center text-green-400 text-5xl md:text-6xl transition-opacity duration-300 opacity-80 group-hover:opacity-100"
            >
                <i class="fa-solid fa-building-columns animate-pulse"></i>
            </div>

            <div class="mt-4 md:mt-0 pl-4">
                <h3 class="text-2xl font-bold text-white">
                    {{ item.name | titlecase }}
                </h3>
                <p class="text-lg md:text-xl mt-2 text-gray-300">
                    {{ item.target | titlecase }}
                </p>
                <p *ngIf="item.date" class="text-md text-gray-400 mt-1">
                    <i class="fa-solid fa-calendar mr-2 text-xl"></i>
                    {{ item.date }}
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="mt-8 space-y-6">
        <div
            class="flex flex-col items-center text-center md:flex-row md:items-center md:text-left md:gap-12 p-6 bg-gradient-to-br from-gray-800 to-gray-900 rounded-xl shadow-lg hover:shadow-2xl transition duration-300"
            *ngFor="let item of studies"
        >
            <div
                class="flex w-16 h-16 items-center justify-center text-green-400 text-5xl md:text-6xl"
            >
                <i class="fa-solid fa-building-columns animate-pulse"></i>
            </div>

            <div class="mt-4 md:mt-0 border-l-4 border-green-400 pl-4">
                <h3 class="text-2xl font-bold text-white">
                    {{ item.name | titlecase }}
                </h3>
                <p class="text-lg md:text-xl mt-2 text-gray-300">
                    {{ item.target | titlecase }}
                </p>
                <p *ngIf="item.date" class="text-md text-gray-400 mt-1">
                    <i class="fa-solid fa-calendar mr-2 text-xl"></i>
                    {{ item.date }}
                </p>
            </div>
        </div>
    </div> -->

    <shared-heading [title]="titleCourses"></shared-heading>
    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
            class="flex items-center text-center md:text-left p-6 bg-gradient-to-br from-gray-800 to-gray-900 rounded-xl shadow-lg hover:shadow-2xl transition duration-300 border-b-4 border-transparent hover:border-green-400"
            *ngFor="let course of courses"
        >
            <div
                class="flex items-center justify-center text-green-400 text-5xl md:text-6xl animate-pulse"
            >
                <i class="fa-solid fa-book"></i>
            </div>

            <div class="ml-4 border-l-4 border-green-400 pl-4">
                <h3 class="text-2xl font-bold text-white">
                    {{ course.title | titlecase }}
                </h3>
                <p class="text-lg text-gray-300">
                    Emitido por: {{ course.issuer }}
                </p>
                <p class="text-md text-gray-400 mt-1">
                    <i class="fa-solid fa-calendar mr-2 text-xl"></i>
                    {{ course.date }}
                </p>
            </div>
        </div>
    </div>

    <shared-heading [title]="titleExtra"></shared-heading>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
        <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 p-6 rounded-2xl shadow-lg text-center w-80 mx-auto transform transition duration-300 hover:scale-102 hover:rotate-2 border-4 border-transparent hover:border-green-400"
            *ngFor="let item of publications"
        >
            <i [class]="item.icon" class="text-9xl text-green-400 mx-auto"></i>
            <div class="mt-4">
                <h3 class="text-xl font-bold text-white">
                    {{ item.title | uppercase }}
                </h3>
                <p class="text-gray-300 mt-2">
                    {{ item.description }}
                </p>
                <a
                    [href]="item.link"
                    class="mt-4 inline-block text-red-500 font-bold text-lg cursor-pointer"
                    target="_blank"
                >
                    <i class="fa-brands fa-youtube text-2xl"></i> YouTube
                </a>
            </div>
        </div>
    </div>

    <footer class="pt-16 pb-8">
        <p class="pt-8 pb-4 border-t border-gray-700 text-gray-400 text-center">
            Todos los derechos reservados &copy; {{ date.getFullYear() }}
        </p>
    </footer>
</div>
